<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Offset liability for GSTR3B</h1>
      <%= react_component("OffsetLiability", props: @props, prerender: false) %>
    </div>
  </div>
</div>

