<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Submit GSTR3B</h1>
      <%= react_component("SubmitGstr3b", props: @props, prerender: false) %>
    </div>
  </div>
</div>
