<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>GSTR3B Track Stauts</h1>
      <%= react_component("TrackStatus", props: @props, prerender: false) %>
    </div>
  </div>
</div>
