<section>
  <div class="container">
    <div class="row policy-heading text-uppercase">
      <h1>Accessability</h1>
    </div>                        
    <div class="policies-content">
      <p>Smile and File is committed to providing a website that is accessible to the widest possible audience. This page describes the additional options that are available to help you view and navigate this web site.</p>
      <p><strong>Browser</strong></p>
      <p>This web site supports most commonly-used browsers, including Internet Explorer, Google  Chrome,  Mozila, Firefox and Safari.</p>
      <p><strong>Screen resolution</strong></p>
      <p>This web site is optimized to be viewed on a variety of devices and at different screen resolutions with a minimum amount of scrolling, panning, and zooming.</p>
      <p><strong>Audio files</strong></p>
      <p>To listen to Smile and File podcasts you will need a media player (such as Windows Media Player, RealPlayer or iTunes).</p>
      <p><strong>Multimedia</strong></p>
      <p>Use of a modern up-to-date browser should allow for viewing of multimedia presentations or video clips on this site.</p>
      <p><strong>Navigation</strong></p>
      <p>All pages contain a link to the home page, sitemap and search box. The navigation system has been constructed in a consistent fashion to provide clear navigation pathways throughout the site.</p>
      <p><strong>PDFs</strong></p>
      <p>If you would like to use a screen reader to read PDF documents you can find out more on the <a href="https://www.adobe.com/accessibility.html" class="confirm1">Adobe Accessibility website</a>.</p>
      <p><strong> </strong></p>
      <p><strong>Further assistance</strong></p>
      <p>If you have further questions or feedback relating to this website, please contact us at <a href="mailto:info@smileandfile.com">info@smileandfile.com</a>.</p>
    </div>    
  </div>
</section>
