<section>
  <div class="container">
    <div class="row policy-heading text-uppercase">
      <h1>Legal</h1>
    </div>                        
    <div class="policies-content">
      <p>Shalibhadra Finance Limited (hereinafter referred to as “SFL”) in an Indian Entity, registered under the Companies Act 1956 (Cin No L65923MH1992PLC064886). SFL has entered into an agreement with Goods and Services Network (GSTN) to act as a GST Suvidha Provider (GSP).</p>
      <p>Smile and File is a division of SFL to provide GSP services to tax payers, tax professionals, corporates and other application and technology service providers.</p>
      <p>The information contained and accessed on this site (the “Site”) is provided by Smile and File indicated on the homepage as owner of the Site for general guidance and is intended to offer the user general information of interest. The information provided is not intended to replace or serve as substitute for any advisory, tax or other professional advice, consultation or service. You should consult with your own professional in the respective advisory, tax or other professional area to obtain such services.</p>
      <p>The application of laws and regulations may vary depending on specific facts or circumstances. Due to the nature of electronic communication processes, Smile and File does not guarantee or warrant the Site will be uninterrupted, without delay, error-free, omission-free, or free of viruses. Therefore, the information is provided ‘as is’ without warranties of any kind, express or implied, including accuracy, timeliness and completeness. In no event shall SFL or Smile and File or any of their respective Directors, agents or employees, be liable for any direct, indirect, incidental, special, exemplary, punitive, consequential or other damages (including but not limited to, liability for loss of use, data or profits), without regard to the form of any action, including but not limited to, contract, negligence or other tortious actions, arising out of or in connection with the Site, any content on or accessed by use of the Site, or any copying, display or other use.</p>
      <p>As content on the Site (including any concepts, ideas, methods, procedures, processes, know-how, techniques, programs, publications, models, products templates, technologies, software, designs, art work, graphics and information on or described in the Site) may be copyrighted, proprietary and subject to intellectual property or other rights (which rights are owned by SFL or Smile and File), any unauthorized use of any materials on the Site may violate copyright, trademark and other laws or applicable intellectual property or other rights. Users are encouraged to print or distribute content (e.g., via link on a social network) provided that:</p>
      <ul>
        <li>The use of the content is personal and non-commercial.</li><br>
        <li>All copyright, trademark and similar notices are retained.</li><br>
        <li>The content is not used as or implies that SFL or Smile and File is providing a testimonial or endorsement of an organization, its products or services.</li><br>
      </ul>
      <p>Materials on the Site may not be modified, reproduced, publicly displayed, performed, distributed or used for any public or commercial purposes without explicit written permission from the appropriate content or material provider (including third-party links). SFL and Smile and File bears no risk, responsibility or liability in the event that a user does not obtain such explicit written permission as advised by SFL or Smile and File.</p>
      <p>The SFL and Smile and File name and logo are registered trademarks or trademarks of SFL and other product and service names mentioned on the Site may be the registered trademarks or trademarks of SFL or Smile and File. Use of these marks requires express prior permission from, and a license agreement with, SFL and Smile and file. Unauthorized use of these and any other of SFL’s portfolio of trademarks will be prohibited to the fullest extent of the law. To request this written approval, contact us on info@smileandfile.com.</p>
      <p>Third-party links are provided as a convenience to our users. Smile and file does not control and is not responsible for any of these sites or their content. Smile and file vigorously protects its reputation and trademarks and Smile and file reserves the right to request removal of any link to our web site.</p>
      <p>The following web link activities are explicitly prohibited by Smile and File and may present trademark and copyright infringement issues:</p>
      <ul>
        <li>links that involve unauthorized use of our logo</li><br>
        <li>a form of link that disguises the URL and/or bypasses the homepage or pages containing the entity copyright, legal disclaimer and online policy statement.</li><br>
      </ul>
    </div>
  </div>
</section>
