<p>Have a good day!</p>
<p>Thanks &amp; Regards,</p>
<p>Activation Team</p>
<p>Smile &amp; File</p>
<p>(A division of Shalibhadra Finance Limited, A GST Suvidha Provider)</p>
<p>CIN Number: L65923MH1992PLC064886</p>
<br>
<h5><b>Disclaimer</b></h5>
<p class="small-text">
  This is a system generated mail for general information purposes only and unless otherwise specifically mentioned therein
  should not be construed as an acknowledgement, authentication and/or approval of any kind about the correctness of the
  information/data successfully submitted by you.
</p>
<p class="small-text">
  Though all efforts have been made to keep the contents of this mail accurate, the same is not intended for and/or should not be
  construed as a statement of law or used for any legal purposes against Smile and File. The information transmitted as part
  of this mail is meant only for the intended person/entity only and may contain confidential, proprietary and/or privileged
  information/material of Smile and File. Smile and File does not accept or assume any liability of any nature against any
  person/entity in relation to the accuracy, completeness, usefulness and/or relevance or otherwise of the information as
  part of this mail.
</p>
<p class="small-text">
  Any use, reuse, review, retransmission, dissemination, paraphrasing, distribution or other uses of the information contained
  in this mail, through any medium whatsoever, by any person/entity/recipient shall strictly be at their own risks and for any
  claims/issues in relation thereto. Smile and File shall not be liable for any expense, losses, damages and/or liability thereof.
</p>
<p class="small-text">
  If you are not the intended recipient of this mail or information contained therein, please forthwith, contact the sender
  and delete the material completely from your computer/s and/or the device/s wherein the contents/information of this mail
  may have been stored.
</p>
<br>
<h5><b>WARNING</b></h5>
<p class="small-text">
  Computer viruses can be transmitted via email. The recipient should check this email and any attachments for the presence of viruses.
  Smile and File accepts no liability for any damage caused because of any virus or other malware transmitted by this e-mail.
</p>
<p class="small-text">
  Recipient should carry out own virus checks before opening the e-mail or attachment. E-mail transmission cannot be guaranteed
  to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete,
  or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message,
  which arise because of e-mail transmission.
</p>
