<p>Dear Madam/Sir,</p>
<p>Congratulations!</p>
<p>You have been added as a new user in the domain <%= @new_user.domain.name.upcase %> on the Smile and File Portal!</p>
<p>We have also emailed you how you are going to reset your password.</p>
<%= render 'common_mail_content' %>
