<div class="snf-container" align="center">
  <div class="snf-heading text-align-left margin-bottom">
    <h2>Create new gstin</h2>
    <div class="margin-bottom">
      <label class="label-left">* Fields are mandatory</label>
    </div>
  </div>
  <%= render 'form', gstin: @gstin, action: "CREATE GSTIN" %>
</div>
