<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Get Signed Hash</h1>
      <%= react_component("SignedData", props: @props, prerender: false) %>
    </div>
  </div>
</div>
