<div id="navbarMenu" class="modal fade navbar-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-body">
      <a href="#" class="close" data-dismiss="modal">x</a>
      <br><br>
      <div class="row">
        <div class="col-sm-12">
          <%= render 'shared/admin_nav_menu' %>
        </div>
      </div>
    </div>
  </div>
</div>
