<!-- Modal -->
<div id="makePayment" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Please Select Mode of Payment</h2>
      </div>
      <div class="modal-body">
        <%= f.input :user_payment_mode, collection: PAYMENT_TYPES.map { |a| [a[1], a[0]] },
            label: false,
            required: true %>
      </div>
      <div>
        <%= f.submit 'CONFIRM', class: 'btn btn-default' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
