<p>NEFT / RTGS needs to be sent as per the following details: </p><br/>
<p><strong>Name of the account:</strong> Smile and File</p>
<p><strong>Bank Name:</strong>  Dena Bank, Malad (West) Branch, Mumbai 400 064</p>
<p><strong>Bank Account Number:</strong> 006111023397</p>
<p><strong>IFSC Code:</strong> BKDN0460061</p>
<p>
  Please send us the details of the remittance (UTR Number, Bank name from which you have sent the remittance and the date of remittance)
  on our email id <a href="mailto:sales@smileandfile.com">sales@smileandfile.com</a>.
</p>
<p>
  Please note that the domain shall be activated post receipt of the credit in our account.
</p>
<p>
  You may opt for online payment, in case you need to activate the domain on an urgent basis.
</p>
<p>
  For any assistance send an email to sales@smileandfile.com or call us on <a href="tel:022–3267 65 67">022–3267 65 67</a>.
</p>
