<p>
  You will need to send the cheque/demand draft to our following address along with the details of the domain name and your company name:
</p>
<p>
  <strong>Smile and File</strong><br/>
  <span>Division of Shalibhadra Finance Limited</span><br>
  <span>A-103, 1 st Floor, Moti Vihar, Behind IDBI Bank,</span><br>
  <span>NSB Road, Mulund West,</span><br>
  <span>Mumbai 400 080.</span><br>
</p>
<p>
  Please note that the domain shall be activated post receipt of the credit in our account.
</p>
<p>
  You may opt for online payment, in case you need to activate the domain on an urgent basis.
</p>
<p>
  For any assistance send an email to sales@smileandfile.com or call us on <a href="tel:022–3267 65 67">022–3267 65 67</a>.
</p>

