<div class="snf-container" align="center">
  <div class="snf-heading text-align-left margin-bottom">
    <h2>New User</h2>
    <div class="margin-bottom">
      <label class="label-left">* Fields are mandatory</label>
    </div>
  </div>
  <%= render 'form', user: @user, action: "CREATE USER" %>
</div>


