<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>User Access</h1>
      <%= react_component("UserPermissionsApp", props: @props, prerender: false) %>
    </div>
  </div>
</div>
