<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Terms &amp; Conditions</h1>
            <h3 class="header-text-3">Terms of use</h3>
            <p>These terms of use (together with the documents referred to in it) (&ldquo;<strong>Terms</strong><span>&rdquo;) are the terms on which you may make use of the website located at the URL [www.ivyplusnetwork.com] (&ldquo;</span><strong>Website</strong>&rdquo;).
                Use of the Website includes accessing, browsing, or registering to use the Website. Please read these Terms carefully before you start to use the Website. We recommend that you print a copy of this for future reference. </p>
            <p>By using the Website, you confirm that you accept these Terms and that you agree to comply with them. </p>
            <p>If you do not agree to these Terms, you must not use the Website. If you do not agree with any amendments made by to these Terms at any time in future, you must stop using the Website with immediate effect.</p>
            <h3 class="header-text-3">Other applicable terms</h3>
            <p>These Terms refer to, incorporate, and include the following additional terms, which also apply to user of the Website and to the third party service provider:</p>
            <ul>
                <li>Our <span><a href="/homepage/privacy_policy">Privacy Policy</a>, </span> which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using the Website, you consent to such processing
                    and you warrant that all data provided by you is accurate. </li>
                <li>Our <span><a href="/homepage/acceptable_use_policy">Acceptable Use Policy</a>,</span> which sets out the permitted uses and prohibited uses of the Website. When using the Website, you must comply with this Acceptable Use Policy.</li>
                <li>Our <span><a href="/homepage/cookie_policy">Cookie Policy</a>,</span> which sets out information about the cookies on the Website.</li>
                <li>Our <span><a href="/homepage/advertising_policy">Advertising Policy</a>,</span> which sets out the conditions that any advertiser desirous of posting an advertisement on our website must follow. About us</li>
            </ul>
            <p>IvyPlus Network is an invitation-only network wherein alumni from selected universities are part of the IvyPlus Network. The membership decision is at the sole discretion of IvyPlus Network. IvyPlus Network (and vendors identified by IvyPlus
                Network) hosts various events and invites members to these events (&ldquo;Networking Events&rdquo;) in order to network and build relationships with other Members.</p>
            <p>Members of the IvyPlus Network&nbsp;are referred to individually as a &ldquo;Member&rdquo; and collectively as &ldquo;Members.&rdquo; Any reference to &ldquo;you&rdquo; or &ldquo;your&rdquo; or &ldquo;user&rdquo; or &ldquo;customer&rdquo;
                (if applicable) refers to you as a user of the Website and its Services; and any reference to &ldquo;IvyPlus Network&rdquo;, &ldquo;we&rdquo;, &ldquo;our&rdquo; and &ldquo;us&rdquo; shall refer to the Company and the &ldquo;service provider&rdquo;
                shall mean the provider of the Services on the Website.</p>
            <h3 class="header-text-3">Changes to these terms and services</h3>
            <p>We may revise these Terms at any time by amending this page. Please check this page from time to time to take notice of any changes we made, as they are binding on you. </p>
            <p>We may, without prior notice, change the Services; add or remove functionalities or features; stop providing the Services or features of the Services, to you or to users generally; or create usage limits for the Services.</p>
            <h3 class="header-text-3">Changes to the Website</h3>
            <p>We may update the Website from time to time, and may change the Content at any time. In these Terms, the term (&ldquo;<strong>Content</strong>&rdquo;) means any design, layout, text, images, graphics, sound, video etc. or other information,
                material or files including, without limitation, names or likenesses (all whether concerning you or a third party) or other materials uploaded by the users of the Website (as a contributor), third party service providers or by us. However,
                please note that any of the Content on the Website may be out of date at any given time and we are under no obligation to update it.</p>
            <p>We do not guarantee that the Website, or any Content on it, will be free from errors or omissions.</p>
            <h3 class="header-text-3">Accessing the Website</h3>
            <p>We do not guarantee that your use of the Website, or any Content on it, will always be available or be uninterrupted. Access to the Website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part
                of the Website without notice. We will not be liable to you if for any reason the Website is unavailable at any time or for any period.</p>
            <p>You are also responsible for ensuring that all persons who access the Website through your internet connection are aware of these Terms and other applicable terms and conditions, and that they comply with them.</p>
            <h3 class="header-text-3">User(s) Agreement</h3>
            <p>This agreement applies to user(s) if user(s) are visitors, registered - free or paid user(s) who access the web site for any purpose. This agreement applies to all services offered on the web site, collectively with any additional terms and
                condition that may be applicable to the specific service used/accessed by user(s).In the event of a conflict or inconsistency between any provision of the terms and conditions mentioned herein with those of the particular service, the
                provisions of the terms and conditions applicable to such specific services shall prevail.&nbsp;</p>
            <h3 class="header-text-3">Registered Users</h3>
            <p>To become a Registered User(s) there is a proper procedure which is for the convenience of user(s) so that they can easily log-in and log-out. Users have to be above the age of eighteen (18) years to be considered for membership.</p>
            <p>User(s) can become a Registered User(s) by filling an on-line registration form on the web site by giving desired information (name, contact information, details of its business, etc.). IvyPlus Network will establish an account ("Account")
                for the user(s) upon registration and assign a user alias ("User ID") and password ("Password") for log-in access to your Account. Web site may or may not assign user(s) upon registration a web-based email/message account with limited
                storage space to send or receive email/messages. Users will be responsible for the content of all the messages communicated through the Email Account, as well as the consequences of any such message.</p>
            <p>If you register, you represent that: </p>
            <p>(a) you will provide documents if requested by IvyPlus Network, to establish your identity, or your claims on your Application for Membership; </p>
            <p>(b) you agree to inform us of any changes in your relationship status during the course of your membership or before attending an IvyPlus Network event; </p>
            <p>(c) all other information submitted to IvyPlus Network during the registration process is true, accurate, current and complete (for purposes of this provision, a branch or representative office will not be considered a separate entity and
                its principal place of business will be deemed to be that of its head office); and</p>
            <p>(d) you will use your invitation privileges to invite only respected persons within their own real-world communities and not individuals who might bring discredit to or harm the reputation of IvyPlus Network&nbsp;and our community.
            </p>
            <p>By becoming a Registered User, you consent to the inclusion of your personal data in our on-line database and authorize IvyPlus Network to share such information with other user(s). IvyPlus Network reserve the right to refuse registration
                and deny the membership and associated User ID and Password to any user at any time for whatever reason. IvyPlus may suspend or terminate a Registered membership at any time without any prior notification in interest of IvyPlus Network
                or general interest of its visitors/other members without giving any reason thereof. Registered User are not a part or affiliate of IvyPlus Network in anyway.</p>
        </div>
    </div>
</div>