<%= render 'error_common' do %>
  <h3>The change you wanted was rejected.</h3>
  <hr>
  <p>Maybe you tried to change something you didn't have access to.</p>
  <p>If you are the application owner check the logs for more information.</p>
<% end %>
