<div class="container error-box">
  <div class="error-content">
    <%= yield %>
  </div>
  <%= link_to root_path, class: 'btn btn-default small' do %>
    <span>Back to Web Portal</span>
  <% end %>
</div>
