<div class="snf-container container" align="center">
  <div class="snf-heading text-align-left margin-bottom">
    <h5>Your feedback is very important to us. We use it continually improve our service.</h5>
    <div class="margin-bottom">
      <label class="label-left">* Fields are mandatory</label>
    </div>
  </div>
  <%= render 'form', feedback: @feedback %>
</div>
