<p>Hello <%= @resource.name %>!</p>

<p>We're contacting you to notify that your password at the Smile and File portal for your domain <%= @resource.domain.name.upcase %> has been changed.</p>

<%= render 'user_mailer/common_mail_content' %>
