<p>Hello <%= @resource.name %>!</p>

<p>Did you request for change of password at the Smile and File portal for your domain <%= @resource.domain.name.upcase %>?</p>

<p>If yes, you can do it through the link below:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.Your password won't change until you access the link above and create a new one.</p>
<%= render 'user_mailer/common_mail_content' %>
