<div class="container">
  <div class="row"
    <div class="col-sm-12">
      <h1>Submit GSTR1</h1>
      <%= react_component("SubmitGstr1", props: @hello_world_props, prerender: false) %>
    </div>
  </div>
</div>

